*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(241, 239, 239);
}
header{
    background-color: white;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}

#title_text{
    font-size: 3rem;
    font-weight: bold;
    vertical-align: top;
}

.button, .button_2{
    border-radius: 5px;
    display: inline-block;
    padding: 0.5rem;
    margin: 1rem 0;
}
.contain{
    height: 100%;
    width: 75%;
    margin: auto;
}

.banner{
    width: 100%;
    background-color: white;
    padding-left: 3rem;
    border-radius: 4px;
}

.button{
    background-color: rgb(97, 165, 228);
    color: white;
}

.button_2{
    background-color: white;
    color: rgb(203, 206, 210);
    border: 0.1rem solid rgb(203, 206, 210);
}